<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say Hello</title>
    <!-- <link rel="stylesheet" href="./static/css/style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png" alt="">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {% endfor %}
        <br>
        <input type="text" name="name_input" autofocus>
        <br>
        <input type="submit" value="GREET" id="greet">
    </form>
</body>
</html>